@import "./common.scss";
.mx-auto {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%)
}

.main-bar {
    box-shadow: 0px 0px 0px 0px;
}

.md-avatar-icon {
    padding-left: 8px;
    padding-right: 8px;
}

.FundooNotes_img {
    @include height(4px);
    width: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#top-search-bar {
    margin-top: 22px;
    padding-left: 80px;
    width: 700px;
}

.note-card {
    margin-top: 22px;
    width: 550px;
    margin-left: 10px;
}

.takeNote {
    padding-top: 40px;
    margin-bottom: -70px;
}

//take a note starts
//card icons
.cardBottomIcon {
    padding-left: 200px;
}

.main {
    padding-left: 15%;
}

.close {
    font-size: 18px;
    padding-right: 25px;
}

.allCards {
    margin-right: -250px;
    margin-left: 10px;
}

.v-icon {
    margin-left: 8px;
    size: 10%;
}