        @mixin padding-top($val1) {
            padding-top: $val1;
        }
        
        @mixin height($val) {
            height: $val;
        }
        
        .mx-auto {
            height: 100%;
            width: 100%;
            box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%)
        }
        
        .main-bar {
            box-shadow: 0px 0px 0px 0px;
        }
        
        .md-avatar-icon {
            padding-left: 8px;
            padding-right: 8px;
        }
        
        .FundooNotes_img {
            @include height(46px);
            width: 46px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        #top-search-bar {
            margin-top: 22px;
            padding-left: 80px;
            width: 800px;
        }
        
        .note-card {
            max-width: 600px;
            border-radius: 50px;
        }
        
        .v-icon {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .cardBottomIcon {
            margin-left: 0px;
        }
        
        .outside {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0px;
            left: 0px;
        }