 .md-title #col {
     color: blue;
 }
 
 .md-title #col1 {
     color: red;
 }
 
 .md-title #col2 {
     color: orange;
 }
 
 .md-title #col3 {
     color: blue;
 }
 
 .md-title #col4 {
     color: green;
 }
 
 .md-title #col5 {
     color: red;
 }
 
 .md-title #col6 {
     color: blue;
 }
 
 .md-title #col7 {
     color: red;
 }
 
 .md-title #col8 {
     color: orange;
 }
 
 .md-title #col9 {
     color: blue;
 }
 
 .md-title #col10 {
     color: green;
 }
 
 