.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.jc-center {
    justify-content: center;
}

.overflow-x {
    overflow-x: hidden
}

.login {
    width: 70%;
    padding-left: 400px;
    height: 450px;
}

.md-card.mdlayout {
    padding-top: 0px;
    width: 50%;
    .overflow-y::-webkit-scrollbar {
        display: none;
    }
    body {
        overflow: hidden;
        overflow-y: hidden;
        /* Hide scrollbars */
    }
}

form {
    padding-top: 0px;
    .overflow-y::-webkit-scrollbar {
        display: none;
    }
    body {
        overflow: hidden;
        overflow-y: hidden;
        /* Hide scrollbars */
    }
}