.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.md-title,
.card {
    padding-top: 0px;
    padding-bottom: 0px;
}

.password-hint {
    margin-top: -25px;
    font-size: 11px;
    justify-content: left;
    color: rgb(109, 107, 107);
    margin-top: -25px;
    position: absolute;
    margin-left: 0px;
    font-size: 11px;
}

.account-img {
    margin-left: 0px;
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
}

.md-layout {
    padding-top: 20px;
}

.jc-center {
    justify-content: center;
}

.overflow-x {
    overflow-x: hidden
}

.md-card {
    padding-top: 0px;
    .overflow-y::-webkit-scrollbar {
        display: none;
    }
    body {
        overflow: hidden;
        overflow-y: hidden;
        /* Hide scrollbars */
    }
}

.overflow-y {
    overflow-x: hidden
}

md-snackbar {
    padding-bottom: 20px;
}