.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

}
.md-layout {
    height: 60px
}

.jc-center {
    justify-content: center;
}

.overflow-x {
    overflow-x: hidden
}