.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.jc-center {
    justify-content: center;
}

.reset {
    width: 70%;
    padding-left: 400px;
    height: 450px;
}

.md-card.mdlayout {
    padding-top: 0px;
    width: 50%;
}

::-webkit-scrollbar {
    display: none;
}

.password-hint {
    margin-top: -25px;
    font-size: 11px;
    justify-content: left;
    color: rgb(109, 107, 107);
    margin-top: -25px;
    position: absolute;
    margin-left: 0px;
    font-size: 11px;
}