.sideNavBar {
    margin-top: 0px;
    padding-right: 10px;
    height: 100%;
    width: 5%;
}

.icon-name {
    text-align: left;
    margin-left: 10px;
}

.v-icon {
    padding-left: 10px;
    padding-right: 10px;
}